<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Budín de pan</title>
</head>
<body>
<h1>RECETAS DE POSTRES
    </h1>

        <h2>Budín de pan</h2>
         <ol type"1">
            <li>Cortar el pan en trozos pequeños.</li>
<li>Colocar los trozos de pan en la licuadora junto con la leche que tiene que estar tibia (no caliente)</li>. <li>Dejar hidratando en la leche tibia durante media hora.</li>
<li>Mientras tanto vamos a hacer el caramelo:</li><li>colocar en una olla antiadherente un vaso de azúcar.</li><li>En otro recipiente ponemos a hervir medio vaso de agua.</li><li> Cuando el azúcar esté completamente derretida retiramos del fuego y agregamos el agua hirviendo,</li><li>revolvemos hasta que esté totalmente integrado.</li><li>Luego dejamos enfriar hasta que esté listo el caramelo.</li>
<li>Ahora llevamos el caramelo al molde en el que vamos a hacer el budín de pan. Es importante asegurarnos de que el caramelo cubra todo el fondo y los bordes como pueden ver en el video.
Una vez pasada la media hora vamos a licuar el pan y la leche.</li>
<li>Luego de obtener la consistencia deseada agregamos el azúcar y los huevos y volvemos a licuar hasta integrar completamente.</li>
<li>Para hacer éste budín de pan necesitamos cocinarlo a a baño maría,</li><li>colocar el molde del budín en una placa para horno que contenga agua.</li>
<li>Cocinar a 160º (mínimo) durante 1 hora.</li><li> Desmoldar y dejar que se enfríe antes de servir.</li>
</ol>

<h2>ingredientes
para el budín de pan</h2> 
<p>
<li>300 g. de pan</li>
<li>1 lt. de leche</li>
<li>250 g. de azúcar</li>
<li>Ralladura de 1 limón</li>
<li>3 huevos</li></p>
 

<h2>para el caramelo</h2>
<li>1 taza de azúcar</li>
<li>1/2 taza de agua</li></p>
<a href="Receta-de-Tiramisú.html">
ver ésta receta en:<em>Tiramisú</em></a>
<br>
<a href="https://www.paulinacocina.net/receta-tiramisu-italiano-facil/20968">
    ver ésta receta en:<strong>paulina cocina</strong>
    <br>
    <a href="../../index.html">
    volver al inicio</a>
</a>
</h2>

</html>